@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html,
body {
  scroll-behavior: smooth;
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  scroll-margin-top: 90px;
}

header {
  background-color: #050505;
  width: 100%;
  position: fixed;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 200px;
  transition: 0.4s ease;
}

.logo {
  text-decoration: none;
  color: #e0e0e0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.8em;
}

.navigation a {
  color: #e0e0e0;
  text-decoration: none;
  font-size: 1.1em;
  font-weight: 500;
  padding-left: 30px;
  position: relative;
  transition: color 0.3s ease;
}

.navigation a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #00e5ff;
  left: 60%;
  bottom: -3px;
  transform: translateX(-50%);
  transition: width 0.3s ease, background-color 0.3s ease;
}
.navigation a:hover::after {
  width: 30px;
}

header .logo:hover {
  color: #00e5ff;
}

.navigation a:hover {
  color: #00e5ff;
}

section {
  padding: 100px 200px;
}

.main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: url(images/Asset_1.png) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.main img {
  position: absolute;
  right: 1px;
  top: 30%;
}
.logo-image {
  width: 800px;
  height: auto;
}
.main h2 {
  color: #fff;
  font-size: 1.4em;
  font-weight: 600;
}
.main h2 span {
  font-family: "Noto Sans", sans-serif;
  color: #5abe9f;
  font-weight: 800;
  font-size: 4em;
  display: inline-block;
  margin-top: 10px;
}

.main h3 {
  color: #fff;
  font-size: 1.5em;
  font-weight: 600;
  letter-spacing: 1px;
  margin-top: 10px;
  margin-bottom: 30px;
}
.btn {
  color: #121212;
  background-color: #00e5ff;
  text-decoration: none;
  font-size: 1.1em;
  font-weight: 500;
  display: inline-block;
  padding: 0.9375em 2.1875em;
  letter-spacing: 1px;
  border-radius: 15px;
  margin-bottom: 40px;
  transition: 0.7s ease;
}
.btn:hover {
  background-color: #00b8e0;
  color: #ffffff;
  transform: scale(1.08);
}
.social-icons a {
  color: #fff;
  font-size: 1.7em;
  padding-right: 30px;
}

.social-icons a:hover {
  color: #00e5ff;
}

.title {
  display: flex;
  justify-content: center;
  color: #5abe9f;
  font-size: 2.2em;
  font-weight: 800;
  margin-bottom: 30px;
}
.cards {
  background-color: #050505;
}
.content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  color: #fff;
}

.card {
  background-color: #050505;
  width: 21.25em;
  box-shadow: 0 5px 25px rgba(228, 226, 226, 0.15);
  border-radius: 10px;
  padding: 25px;
  margin: 30px;
  transition: 0.7s ease;
}

.card:hover {
  transform: scale(1.1);
}

.icon {
  color: #00e5ff;
  font-size: 8em;
  text-align: center;
}

.info {
  text-align: center;
}

.info h3 {
  color: aqua;
  font-size: 1.2em;
  font-weight: 700;
  margin: 10px;
}

.achievements {
  background: url(images/Asset_1.png) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.projects {
  background-color: #000016;
}

.projects .content {
  margin-top: 30px;
}

.project-card {
  background-color: #050505;
  border: 1px solid #ddd;
  min-height: 14em;
  width: 23em;
  overflow: hidden;
  border-radius: 10px;
  margin: 20px;
  transition: 0.7s ease;
}

.project-card:hover {
  transform: scale(1.05);
}

.project-card:hover .project_image {
  opacity: 0.9;
}

.project-image img {
  width: 100%;
}
.project-info {
  padding: 1em;
}

.project-category {
  color: #00e5ff;
  font-size: 0.9em;
  font-weight: 500;
}

.project-title {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  font-weight: 800;
  margin-top: 10px;
}

.more-details {
  text-decoration: none;
  color: #fff;
}

.more-details:hover {
  color: #00e5ff;
}

.content .icon {
  font-size: 4.5em;
}

.content .info h3 {
  color: #00e5ff;
}

.content .info p {
  font-size: 1.5em;
}

.footer {
  background-color: #000016;
  color: #fff;
  display: flex;
  padding: 2em;
  justify-content: space-between;
}

.footer-title {
  font-size: 1.5em;
  font-weight: 600;
}
.footer-title span {
  color: #00e5ff;
}

.footer .social-icons a {
  font-size: 1.3em;
  padding: 0 12px 0 0;
}

@media (max-width: 1023px) {
  header {
    padding: 12px 20px;
  }
  .navigation a {
    padding-left: 20px;
  }
  .title {
    font-size: 1.8em;
  }
  section {
    padding: 80px 20px;
  }
  .home-content h2 {
    font-size: 1.2em;
  }
  .home-content h3 {
    font-size: 1.6em;
  }
  .main .logo-image {
    display: none;
  }
  .content {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 641px) {
  body {
    font-size: 12px;
  }
  .home-content h2 {
    font-size: 0.8em;
  }
  .home-content h3 {
    font-size: 1.4em;
  }
  .main .logo-image {
    display: none;
  }
}

@media (max-width: 300px) {
  body {
    font-size: 10px;
  }
  .main .logo-image {
    display: none;
  }
}
